/* [data-type=actor] {
  transition: filter 2s ease-in-out !important;
} */
[data-type=actor],
.actor {
  fill: #268cc3;
  stroke: #FFFFFFD9;
  stroke-width: 0.05px;
  pointer-events: none;
  /* filter: hue-rotate(200deg) invert(1); */
  filter: drop-shadow(0 0 0.1px #000000);
  transition: 0.15s ease;
  /* transition: filter 2s ease-in-out !important; */
  mix-blend-mode: normal;
  
  /* transform-origin: center center; */
  .actor-eye {
    fill: #FFFFFF
  }
  
  .actor-mouth {
    stroke: #000000;
    stroke-width: 0.075;
    
  }
  
  .actor-arm {
    fill: #3B5F89;
    /* stroke: #7C7C7C; */
    /* stroke-width: 0.035; */
    
  }
  
  .actor-head {
    fill: #3B4889;
    /* stroke: #7C7C7C; */
    /* stroke-width: 0.035; */
    
  }
}

[data-type=actor][data-moving=false],
[data-type=actor][data-moving=false] .actor {}

[data-type=actor][data-moving=true][data-teleporting=false],
[data-type=actor][data-moving=true][data-teleporting=false]>* {
  /* fill: #38DD17; */
  /* scale: 0.9 */
  /* transition: 0.15s ease-out; */
  /* stroke-width: 0.00px; */
  /* filter: contrast(2) hue-rotate(25deg) invert(1) !important; */
  
}

[data-type=actor][data-recoiling=true] {
  /* filter: contrast(2) hue-rotate(25deg) invert(1) !important; */
  filter: drop-shadow(0 0 0.1px #FFFFFF) brightness(1) !important;
  mix-blend-mode: hard-light;
  transition: 0.2s !important;
  
  
}

[data-type=actor][data-teleporting=false],
[data-type=actor][data-teleporting=false] * {
  /* transition: 0.0s; */
}

[data-type=actor][data-teleporting=true],
[data-type=actor][data-teleporting=true] {
  r: 0.01;
  stroke-width: 0.00px;
  
  filter: blur(5px) !important;
}