.actor {}

.actor {
  fill: #00A7FF;
  stroke: #000000;
  stroke-width: 0.05px;
}

.actor[data-moving=false],
.actor[data-moving=false] * {
}


.actor[data-moving=true][data-teleporting=false],
.actor[data-moving=true][data-teleporting=false] * {
  fill: #38DD17;
  r: 0.3;
  transition: 0.125s ease-out;
  
}


.actor[data-teleporting=false],
.actor[data-teleporting=false] * {
  transition: 0.5s;
}

.actor[data-teleporting=true],
.actor[data-teleporting=true] * {
  fill: #783BC1;
  r: 0.01;
  stroke-width: 0.00px;
}