#app-footer {
  *{
    touch-action: auto !important;

  }
}
#app-footer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-columns: 1fr;
  gap: 4px;
  background: #191A2015;
  width: 100%;
  /* height: 100%; */
  padding: 4px 6px 2px 6px;
  z-index: 100;
  /* overflow: auto; */
  /* touch-action: auto; */
}

#app-footer-bottom {
  display: grid;
  width: 100%;
  /* height: 100%; */
  z-index: 100;
  overflow-x: auto;
  padding: 0 4px;
}

#tool-labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #5355607D;
  
}

.tool-label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 600;
  color: #EFEFEF90;
  background: #191A208F;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}
.tool-label[data-active=true]{
  border-bottom: 2px solid var(--color-white0);
  color: #EFEFEF;
}

#app-footer-top {
  position: relative;
  
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 0px;
  background: #191A2015;
  width: 100%;
  /* height: 100%; */
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;

}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  background: #191A2015;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding:  4px;
}