#app-map-list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
  backdrop-filter: hue-rotate(340deg) saturate(0.8) brightness(0.9);
  
  #map-list-view-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  #map-list-view-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    /* width: 100%; */
    height: 100%;
    /* background: #FFFFFF; */
    list-style: none;
    margin: 0 auto;
    overflow-y: auto;
    
    width: 100%;
    max-width: 340px;
    min-width: 300px;
    
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      height: 100%;
      min-height: 70px;
      width: 100%;
      
      padding: 4px 8px;
      background: #3C3C3C;
      color: #EEEEEE;
    }
  }
}