#app-footer {
  * {
    touch-action: auto !important;
  }
}

#app-footer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-columns: 1fr;
  gap: 4px;
  background: #191A2015;
  width: 100%;
  height: fit-content;
  padding: 4px 0 2px 0;
  z-index: 100;
  background: #535560;
  background: #3A3B42;
  /* filter: contrast(1.2) saturate(1.2); */

}

#app-footer-bottom {
  display: grid;
  width: 100%;
  max-width: 550px;
  z-index: 100;
  overflow-x: auto;
  padding: 0 4px;
  margin: auto;
}

#app-footer-top {
  position: relative;
  
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 0px;
  background: #191A2015;
  width: 100%;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;
  width: fit-content;
  max-width: 550px;
  margin: auto;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  background: #191A2015;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 4px;
}