#app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 0 6px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #3A3A3DA3;
  border-bottom: 2px solid #00000036;
  backdrop-filter: blur(10px) hue-rotate(0deg) contrast(1.4);
  color: #EDEDED;

  #app-header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    max-width: 550px;
  }
}

#app-header-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  padding: 0 6px;
  text-align: left;
}

.app-header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 4px;
}

#app-header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.app-header-center-bottom {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0px;
}

#map-name {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: fit-content;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid #00000036;
  padding: 4px 8px;
  outline: none;
  color: #EDEDED;

}