body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    radial-gradient(circle at 75% 55%,
      rgba(255, 140, 80, .35),
      transparent 60%);

  pointer-events: none;
}

#app-splash-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: #0b0620;
  cursor: pointer;
}

#app-splash-view.fade {
  filter: brightness(0) hue-rotate(200deg) invert(1) blur(6px) opacity(1);
  transition: 3s;
}

#app-splash-background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: hueDrift 4s linear infinite alternate;
  background:
    radial-gradient(circle at 45% 60%,
      rgba(120, 255, 120, 0.35),
      rgba(0, 0, 0, 0) 60%);
  font-size: 140px;
  font-weight: 900;
  color: #EFEFEF99;
  mask-image: radial-gradient(circle,
      black 50%,
      transparent 75%);
  /* animation: maskImage 5s linear infinite alternate; */
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.45), 0 0 30px rgba(0, 255, 120, 0.15); */

}

#app-splash-foreground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 400px;
  padding: 8px;
  font-size: 140px;
  font-weight: 900;
  color: #EFEFEF99;
  background-image: url("../assets/tone-tiles-splash5.jpg");
  background-size: 130%;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.85;
  animation: hueDrift 3s linear infinite alternate;
  backdrop-filter: contrast(2);
  filter: contrast(1.2);
  border-top: 32px groove #0D0D2078;
  border-bottom: 32px groove #0D0D2078;
  border: 32px groove #0D0D2078;
  border-radius: 50%;
}

#app-splash-background::before {

  animation:
    portalPulse 6s ease-in-out infinite,
    portalHue 18s linear infinite;

}

#app-splash-foreground::before {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  pointer-events: none;

  background: radial-gradient(circle,
      transparent 60%,
      rgba(0, 255, 140, .35) 70%,
      rgba(0, 255, 140, .15) 78%,
      transparent 85%);

  filter: blur(6px);
  animation: portalPulse 5s ease-in-out infinite;


}

#app-splash-overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 150px;
  font-weight: 1200;
  color: #3C9C17;
  z-index: 1001;
  mix-blend-mode: luminosity;
  filter: brightness(1.4) contrast(2) drop-shadow(0 0 8px #000000);

}

#app-splash-cta {
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF90;
  padding: 8px;
  filter: invert(1);
}

#app-splash-hamilsauce-link {
  position: fixed;
  bottom: 0;
  padding: 8px 0;

  a {
    text-decoration: none;
    color: #000000;
    /* font-size: 14px; */
    font-weight: 600;
    filter: brightness(0.9) invert(1) opacity(0.75);
    letter-spacing: 4px;
  }
}

#app-splash-background::after {
  content: "";
  position: absolute;
  inset: 0;

  background:
    radial-gradient(circle at 75% 40%,
      rgba(255, 160, 90, 0.7),
      rgba(0, 0, 0, 0) 60%);

  backdrop-filter: contrast(1.15) saturate(1.25);
  pointer-events: none;
}

#app-splash-background::before {
  /* green */
  content: "";
  position: absolute;
  inset: 0;
  animation: hueDrift 3s linear infinite alternate;

  mix-blend-mode: screen;
  pointer-events: none;
}

/* .portal::before {
  animation:
    portalPulse 6s ease-in-out infinite,
    portalHue 18s linear infinite;
} */

@keyframes portalHue {
  from {
    filter: blur(6px) hue-rotate(0deg);
  }

  to {
    filter: blur(6px) hue-rotate(360deg);
  }
}

@keyframes portalPulse {

  0%,
  100% {
    transform: scale(1);
    opacity: .6;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}

@keyframes drift {
  from {
    transform: translate(-3%, -3%) scale(0.9);
  }

  to {
    transform: translate(3%, 3%) scale(1.5);
  }
}

@keyframes maskImage {
  from {
    mask-image: radial-gradient(circle,
        black 50%,
        transparent 100%);
  }

  to {
    mask-image: radial-gradient(circle,
        black 50%,
        transparent 60%);
  }
}

.glow-layer {
  animation: drift 12s ease-in-out infinite alternate;
}

@keyframes hueDrift {
  from {
    filter: hue-rotate(0deg);

  }

  to {
    filter: hue-rotate(60deg);
  }
}