* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app-host {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  background: #3F3F3F;
  position: relative;
  overflow: hidden;
  /* touch-action: none; */

}

#app-floating-menu {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  width: 50px;
  height: 50px;
  
  box-shadow: 0 0 12px 0px #00000075;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background: #3F3F3FB8;
  backdrop-filter: blur(5px);
  color: #ECECEC;
  transition: width 0.5s, height 0.5s;
  z-index: 1001;
  filter: opacity(0.6);
  
  overflow: hidden;
  #app-floating-menu-collapsed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 50px;
    height: 50px;
    font-weight: 800;
    font-size: 14px;
    /* filter: opacity(0.2); */
    touch-action: none;
  }
  
  
  #app-floating-menu-collapsed:hover {
    /* filter: opacity(1); */
  }
  
  #app-floating-menu-collapsed:active {
    /* filter: opacity(1); */
  }
  
  #app-floating-menu-expanded {
    width: 300px;
    height: 500px;
    transition: 0.5s;

  }
}

#app-floating-men:hover {
  filter: opacity(1);
}
#app-floating-men:active {
  filter: opacity(1);
}

#app-floating-menu.expanded {
  width: 300px;
  height: 500px;
  filter: opacity(1);
  transition: 0.5s;

}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow: auto;
  touch-action: none;

}

#app-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  background: #192C4665;
  color: #D6D6D6;
  z-index: 1001;
}

#app-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  height: 100%;
  z-index: 1001;
}

:root {
  --background-main: #3A3B42;
}

.selection {
  display: contents;
}

.app-button {
  background: #3A3B42;
  border: 1px solid #5F5F5F;
  height: 100%;
  border-radius: 3px;
  color: #EFEFEF;
  font-size: 18px;
  padding: 4px 8px;
  transition: 0.2s ease;
}

.app-button[data-active=true] {
  filter: brightness(160%);
  z-index: 1000;
}

.scroll-fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  pointer-events: none;
  z-index: 10000;
  background-image: linear-gradient(to right, #3A3B42, #FFFFFF00 3%, #FFFFFF00 97%, #3A3B42 100%) !important;
}