* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
  touch-action: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app-host {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  background: #3F3F3F;
  overflow: auto;
}

#app-floating-menu {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  width: 50px;
  height: 50px;
  
  box-shadow: 0 0 12px 0px #00000075;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background: #3F3F3FB8;
  backdrop-filter: blur(5px);
  color: #ECECEC;
  transition: width 0.5s, height 0.5s;
  z-index: 1001;
  #app-floating-menu-expanded {
    /* width: 250px; */
    /* height: 425px; */
  }
  
  #app-floating-menu-collapsed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* width: 50px; */
    /* height: 50px; */
    width: 100%;
    height: 100%;

    font-weight: 800;
    font-size: 14px;
  }
}

/* #app-floating-menu.collapsed{ } */
#app-floating-menu.expanded {
  width: 250px;
  height: 425px;
}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow: auto;
  /* height: 100%; */
  /* display: none; */
}

#app-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  /* height: 100%; */
  background: #192C4665;
  color: #D6D6D6;
  z-index: 1001;
  
}

#app-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  height: 100%;
  z-index: 1001;
  /* display: none; */
}