[data-type=dark-sun] {
  /* fill: #e3c70d; */
  stroke: #fa0d0dd9 !important;
  /* stroke-width:  !important; */
  pointer-events: none;
  /* filter: hue-rotate(200deg) invert(1); */
  filter: brightness(1.1) contrast(1.2) saturate(1.2) drop-shadow(0 0 0.175px #460731) ;
  mix-blend-mode: hard-light;
  transition: 0.15s ease-out;
}

[data-type=dark-sun][data-moving=false],
[data-type=dark-sun][data-moving=false] * {
}

[data-type=dark-sun][data-moving=true][data-teleporting=false],
[data-type=dark-sun][data-moving=true][data-teleporting=false]>* {
  /* filter:  invert(1) !important; */

  /* fill: #38DD17; */
  /* scale: 0.9 */
  /* transition: 0.15s ease-out; */
  /* stroke-width: 0.00px; */
  filter: contrast(2) hue-rotate(25deg) invert(1) !important;

}

[data-type=dark-sun][data-teleporting=false],
[data-type=dark-sun][data-teleporting=false] * {
  /* transition: 0.0s; */
}

[data-type=dark-sun][data-teleporting=true],
[data-type=dark-sun][data-teleporting=true] {
  /* fill: #783BC1; */
  r: 0.01;
  stroke-width: 0.00px;

  filter: blur(5px) !important;

}

.dark-sun {
  fill: url(#lineargradient1);
  fill-opacity: 1;
  stroke: #890D0D;
  stroke-width: 0.02;
  stroke-opacity: 1;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
}

.dark-sun[data-recoiling=true] {
  /* filter: brightness(5); */
  filter: invert(1);
  /* scale: 0.4 0.4 0.4; */
  transition: 0.2s;

}