.drawer {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr;
  row-gap: 5px;
  width: 100vw;
  height: min-content;
  padding: 0px 0px;
  min-height: max-content;
  background: linear-gradient(180deg, #FFFFFF52 10%, #FFFFFF8C 100%);
  border-radius: 5px 5px 0px 0px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  z-index: 1000;
}

.drawer-handle {
  width: 100%;
  padding: 0px 0px;
  text-align: center;
  height: fit-content;
  color: white;
  border-right: 0px solid #FFFFFFCC;
  border-left: 0px solid #FFFFFFCC;
  border-radius: 5px 5px 0px 0px;
  transition: 0.2s;
  box-shadow: 0 15px 10px 0px inset #16161654;
}

.drawer-handle.pressed {
  box-shadow: 0 20px 15px 0px inset #00000075;
}

.option-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 80px);
  grid-auto-flow: column;
  grid-auto-columns: 120px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: min-content;
  max-width: 100vw;
  min-height: 80px;
  padding: 5px 5px 5px 10px;
  margin: 0 auto;
  /* overflow: scroll; */
}

.drawer-option {
  background: #FFFFFF94;
  padding: 10px;
  transition: 0.15s;
  border: 1px solid #FFFFFFC4;
  border-radius: 12px;
  box-shadow: 0 2px 3px 0 #00000045;
  height: 60px;
  color: #4A4A4A;
}

.drawer-option:active {
  background: #FFFFFFBA;
  border: 1px solid #79797994;
  box-shadow: 0 0 7px 0 #00000050;
}

.hide {
  display: none;
  
  height: 0px;
  padding: 0;
}

.drawer[data-show=true] {
  display: grid;
}

.drawer[data-show=false] {
  display: none;
}

.expand {}