:root {
  --tiletext-dark: #706D6D9C;
  --tiletext-light: #EBEBEB96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  /* touch-action: none; */
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.gradient {
  background-image: linear-gradient(45deg, #465FA1, #1182B9),
    linear-gradient(to right, rgba(30, 75, 115, 1), #352F34),
    linear-gradient(to right, rgba(30, 75, 115, 1), #2F3135);
  /* background-blend-mode: overlay; */
  /* background-blend-mode: color-dodge; */
  background-blend-mode: color-dodge, luminosity, difference;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
  transition: 0.5s ease;
  
}

.bg-blend-overlay {
  background-blend-mode: soft-light;
  /* background-blend-mode: overlay, color-dodge; */
  
  transition: 0.5s ease;
  
}

/* .gradient.bg-blend-overlay, .gradient, .bg-blend-overlay {
  background-blend-mode: initial;
} */
/* .bg-blend-overlay {
  background-blend-mode: overlay,
    color-dodge,
    difference;
} */

#svg-canvas-host {
  width: 100%;
  height: 100%;
}

#svg-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  position: fixed;
  /* important */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  inset: 0;
}

#surface {
  fill: #18181887;
  stroke: #FFFFFF80;
  stroke-width: 0.2;
  filter: drop-shadow(0 0px 1.5px #2F2F2F65);
  touch-action: none;

}

#map-name-text {
  font-size: 12px;
  font-weight: 400;
}

#tile-layer {
  /* pointer-events: auto !important; */
}

#stars {
  circle {
    fill: #FFFFFF;
    /* stroke-width: 0.05; */
    filter: blur(1px);
  }
}

.axis-line {
  stroke: #2F2F2FA8;
  stroke-width: 0.05;
  filter: drop-shadow(0 0px 0.05px #FFFFFFA3);
}

.origin {
  fill: #363636A8;
  stroke: #4B4B4BAB;
  /* filter: contrast(0.6); */
  stroke-width: 0.05;
  /* filter: drop-shadow(0 0px 1.5px #2F2F2F65); */
}

#context-menu-container {
  pointer-events: auto;
  touch-action: none;
  width: 100%;
  
  * {
    /* pointer-events: none !important; */
    /* touch-action: none; */
  }
}

.context-menu-foreignobject {
  x: 0;
  y: 0;
  /* width: 200; */
  height: 30;
  /* touch-action: none; */
  pointer-events: auto;
  
}

#context-menu-container[data-show=false] {
  display: none;
}

#context-menu-container[data-show=true] {
  display: initial;
  filter: drop-shadow(0 3px 6px #2A2A2AC2);
  overflow-y: hidden;
  overflow-x: auto;
  
  pointer-events: auto;
  
}

/* .context-menu {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 100%;
  width: 100%;
} */

.context-menu {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  pointer-events: auto;
  width: 100px;
  width: 100%;
  overflow-x: auto;
  
}

.menu-scroll {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  /* Firefox */
  overflow-x: scroll;
  
}

.context-menu-list {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  width: 100%;
  padding: 0px;
  height: 100%;
  width: 200px;
   */
  background: #E6E6E6;
  color: #494949;
  border: 2px solid #FFFFFF;
  font-size: 5px;
  width: 100%;
  /* width: 200px; */
  width: 100px;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  
  gap: 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* white-space: nowrap; */
  pointer-events: auto !important;
  
  /* scrollbar-width: thin; */
}

.context-menu-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  /* width: 100%; */
  /* width: 200px; */
  
  width: fit-content;
  padding: 4px;
  background: #FFFFFF;
  color: #494949;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: auto;
}

.context-menu[data-show-actions=false] {
  li[data-type="tile-action"] {
    display: none;
  }
}


.edge-line>line {
  stroke: #0006FFC9;
  stroke-width: 0.075;
  filter: brightness(1.4) drop-shadow(0 0 0.035px #3B3B3B73);
  
}

#edge-line-arrow {
  path {
    fill: #0006FF;
  }
}

.scrollable-content {
  /* Explicitly set the dimensions to match the foreignObject */
  width: 100%;
  height: 100%;
  /* Use 'auto' to show scrollbars only when content overflows */
  overflow: auto;
  /* Add padding to prevent content from touching the scrollbar */
  padding: 10px;
  box-sizing: border-box;
  /* Ensures padding is included in width/height */
  background-color: #f0f0f0;
  word-wrap: nowrap;
  white-space: nowrap;
  
}