:root {
  --tiletext-dark: #706D6D9C;
  --tiletext-light: #EBEBEB96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.gradient {
  background-image: linear-gradient(45deg, #465FA1, #1182B9),
    linear-gradient(to right, rgba(30, 75, 115, 1), #352F34),
    linear-gradient(to right, rgba(30, 75, 115, 1), #2F3135);
  background-blend-mode: exclusion, color-dodge, luminosity;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}

.bg-blend-overlay {
  transition: 0.5s ease;
}

#svg-canvas-host {
  width: 100%;
  height: 100%;
}

/* #canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  inset: 0;
} */

#canvas {
  filter: contrast(1.2) hue-rotate(200deg) saturate(1.2);
}

#scene {
  transform: translate(0.2px, 0.2px);
  filter: saturate(1.3) contrast(1.2);
}

#surface {
  fill: #2925222B;
  stroke: #FFFFFF80;
  stroke-width: 0.2;
  filter: saturate(1.2);
  touch-action: none;
}

#map-name-text {
  font-size: 12px;
  font-weight: 400;
}

#tile-layer {
  filter: hue-rotate(55deg) invert(0) drop-shadow(1px 1px 0.1px #00000050);

  transition: filter 1.5s ease;

  .tile rect {
    filter: hue-rotate(30deg) saturate(1.3);

  }
}

#tile-layer[data-is-selecting-link-tile=true] {

  .tile:hover rect {
    fill: rgba(39, 186, 56, 0.468);
    cursor: pointer;
  }

}

#stars {
  circle {
    fill: #FFFFFF;
    filter: blur(1px);
  }
}

.axis-line {
  stroke: #2F2F2FA8;
  stroke-width: 0.05;
  filter: drop-shadow(0 0px 0.05px #FFFFFFA3);
}

.origin {
  fill: #363636A8;
  stroke: #4B4B4BAB;
  stroke-width: 0.05;
}

#context-menu-container {
  pointer-events: auto;
  touch-action: none;
  width: 100%;
}

.context-menu-foreignobject {
  x: 0;
  y: 0;
  height: 30;
  pointer-events: auto;

}

#context-menu-container[data-show=false] {
  display: none;
}

#context-menu-container[data-show=true] {
  display: initial;
  filter: drop-shadow(0 3px 6px #2A2A2AC2);
  overflow-y: hidden;
  overflow-x: auto;

  pointer-events: auto;
}

.context-menu {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  pointer-events: auto;
  width: 100px;
  width: 100%;
  overflow-x: auto;
}

.menu-scroll {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  overflow-x: scroll;
}

.context-menu-list {
  background: #E6E6E6;
  color: #494949;
  border: 2px solid #FFFFFF;
  font-size: 5px;
  width: 100%;
  width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  pointer-events: auto !important;
}

.context-menu-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  width: fit-content;
  padding: 4px;
  background: #FFFFFF;
  color: #494949;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: auto;
}

.context-menu-list li[data-active=true] {
  background: green;
  color: #FFFFFF;
}

.context-menu[data-show-actions=false] {
  li[data-type="tile-action"] {
    display: none;
  }
}

.edge-line>line {
  stroke: #0006FFC9;
  stroke-width: 0.075;
  filter: brightness(1.4) drop-shadow(0 0 0.035px #3B3B3B73);
}

#edge-line-arrow {
  path {
    fill: #0006FF;
  }
}

.scrollable-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  word-wrap: nowrap;
  white-space: nowrap;
}