:root {
  --tiletext-dark: #706D6D9C;
  --tiletext-light: #EBEBEB96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  /* touch-action: none; */
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.gradient {
  background-image: linear-gradient(45deg, #465FA1, #1182B9),
    linear-gradient(to right, rgba(30, 75, 115, 1), #352F34),
    linear-gradient(to right, rgba(30, 75, 115, 1), #2F3135);
  background-blend-mode: initial,
    color-dodge,
    difference;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}

#svg-canvas-host {
  width: 100%;
  height: 100%;
  
}
#canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#surface {
  fill: transparent;
  stroke: #FFFFFF80;
  stroke-width: 0.2;
  filter: drop-shadow(0 0px 1.5px #2F2F2F65);
}

#context-menu[data-show=false] {
  display: none;
}

#context-menu[data-show=true] {
  display: initial;
  filter: drop-shadow(0 3px 6px #2A2A2AC2);
}

.context-menu-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* height: 100%; */
  width: 100%;
 
}

#context-menu .context-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  /* width: 100%; */
  padding: 0px;
  height: 100%;
  /* width: 200px; */
  
  background: #E6E6E6;
  color: #494949;
  border: 2px solid #FFFFFF;
  font-size: 5px;
}

.context-menu-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  /* width: 100%; */
  /* width: 200px; */
  

  padding: 4px;
  background: #FFFFFF;
  color: #494949;
  font-size: 12px;
  white-space: nowrap;
}

.edge-line>line {
  stroke: #0006FF;
  stroke-width: 0.1;
}