.tile rect {
  fill: #FFFFFF75;
  fill: #FFFFFF7D;
  stroke: #0E0E0E52;
  stroke-width: 0.025px;
}

.tile text {
  fill: var(--tiletext-dark);
  filter: opacity(0.5);
  font-weight: 600;
}

.tile[data-tile-type=barrier] rect {
  fill: #4F5057;
  /* filter: drop-shadow(0 0 1px #292B43); */
}

.tile[data-tile-type=barrier] text {
  fill: var(--tiletext-light);
}

.tile[data-is-path-node=true] rect {
  /* fill: #FFF2B382; */
  animation: yellowToOriginal 5s forwards;
  
}

.tile[data-is-path-node=true] text {
  fill: #373736;
  font-weight: 900;
}

.tile[data-tile-type=start] rect {
  fill: #9B2B2B;
}

.tile[data-tile-type=start] text {
  fill: var(--tiletext-light);
}

.tile[data-active=true] rect {
  /* fill: #632B61; */
  fill: #BB1D1D;
  stroke: #14CC3A;
}

.tile[data-current=true] rect {
  fill: #4D7E2A;
  stroke: #FDFDFD;
}

.tile[data-active=true][data-is-path-node=false] text {
  fill: #288ED0;
  fill: #F2CA69;
  fill: var(--tiletext-light);
}

.tile[data-highlight=true] rect {
  fill: #9FFFF9;
}

.tile[data-highlight=true][data-is-path-node=false][data-tile-type=empty] text {
  fill: #FFEE9F;
  fill: var(--tiletext-light);
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-tile-type=goal] rect {
  fill: #329B2B;
}

.tile[data-tile-type=goal] text {
  fill: var(--tiletext-light);
}

.tile[data-tile-type=teleport] rect {
  fill: #12B582;
}

.tile[data-selected=true]>rect {
  stroke: #59595963;
  filter: hue-rotate(167deg);
}

@keyframes yellowToOriginal {
  0% {}
  
  8% {
    fill: #46C2F4BF;
    filter: hue-rotate(0deg);
  }
  
  15% {
    fill: #46C2F43D;
    
    filter: hue-rotate(0deg);
    filter: hue-rotate(-240deg);
  }
  
  35% {
    filter: hue-rotate(0deg);
  }
  
  40% {}
}

.rect-animate {
  animation: yellowToOriginal 1.5s forwards;
}