#tile-layer {
  filter: hue-rotate(55deg) invert(0) drop-shadow(1px 1px 0.1px #00000050);

  transition: filter 1.5s ease;
}

#tile-layer.no-shadow {
  filter: hue-rotate(55deg) invert(0);
}

#tile-layer[data-is-selecting-link-tile=true] {
  .tile:hover>* {
    fill: rgba(39, 186, 56, 0.468);
    cursor: pointer;
  }
}

.tile>* {
  opacity: 1;
  fill: #FFFFFF7D;
  stroke: #5F5F5F;
  stroke-width: 0.025px;
}

.map-link {
  rx: 1;

  text {
    font-size: 6px;
    font-weight: 800;
    fill: #000000D4;
    stroke-width: 0.35;
    opacity: 0.3;
    filter: hue-rotate(55deg) invert(1);

  }
}

.tile:not([data-tile-type="barrier"])>* {
  cursor: pointer;
}

.tile[data-tile-type=map-link] {
  fill: #27ED1D;
  rx: 1;
}

.tile[data-tile-type=map-link]>* {
  fill: #1DEDAE;
  rx: 1;
  transform-origin: center;
}

.tile[data-tile-type=barrier]>* {
  fill: #4F5057;
}

.tile[data-is-path-node=true]>* {
  animation: yellowToOriginal 3.5s forwards;
}

.tile[data-tile-type=start]>* {
  fill: #9B2B2B;

}


.tile[data-active=true],
.tile[data-active=true]>*,
[data-type=tile][data-active=true],
[data-type=tile][data-active=true]>* {
  fill: #E218EF !important;
  transition: 0.25s ease !important;


}

.tile[data-current=true]>* {
  fill: #4D7E2A;
  stroke: #FDFDFD;

}

.tile[data-active=true][data-is-path-node=false] text {
  fill: var(--tiletext-light);
}

.tile[data-highlight=true]>* {
  animation: lightFade 2s forwards;
}

.tile[data-highlight=true][data-is-path-node=false][data-tile-type=empty] text {
  fill: var(--tiletext-light);
}

.tile[data-target=true]>* {
  fill: #D07728;
}

.tile[data-tile-type=goal]>* {
  fill: #329B2B;
}

.tile[data-tile-type=teleport]>* {
  fill: #FFFFFF;
  filter: contrast(2) opacity(0.5);
}

.tile[data-selected=true]>* {
  stroke: #59595963;
  filter: hue-rotate(167deg);
}

.tile[data-occupied=true]>* {
  fill: #FFFFFF00 !important;
  rx: 50%;
  ry: 50%;
  transition: 0.15s ease-in !important;
}

@keyframes lightFade {
  0% {}

  /* 8% {
    fill: #46C2F4BF;
    filter: hue-rotate(0deg);
    fill: #FFFFFF96;

  } */

  /* 15% {
  fill: #46C2F43D;
  filter: hue-rotate(0deg);
  filter: hue-rotate(-240deg);
  fill: #FFFFFFB0;

  } */

  45% {
    /* filter: hue-rotate(0deg); */
    fill: #FFFFFFCC;
    fill: #FFFFFF3D;


    /* filter: hue-rotate(-240deg); */


  }

  80% {
    /* filter: hue-rotate(0deg); */
    fill: #FFFFFF00;
    fill: #FFFFFFA3;

    /* fill: #FFFFFFCC; */

    /* filter: hue-rotate(-240deg); */


  }

  100% {
    /* fill: #FFFFFF7D; */
  }
}

@keyframes yellowToOriginal {
  0% {}

  8% {
    fill: #46C2F4BF;
    filter: hue-rotate(0deg);
  }

  15% {
    fill: #46C2F43D;

    filter: hue-rotate(0deg);
    filter: hue-rotate(-240deg);
  }

  35% {
    filter: hue-rotate(0deg);
  }

  40% {}
}

.tile[data-hide=true] {
  opacity: 0;
  transition: 0.25s;
}

.rect-animate {
  animation: yellowToOriginal 1.5s forwards;
}