#tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  column-gap: 1px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: auto;
  background: #5355607D;

}

.tool-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 4px 6px;
  font-size: 15px;
  font-weight: 600;
  color: #EFEFEF90;
  background: #191A208F;
  border: 1px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;
}

.tool-label[data-active=true] {
  border-bottom: 2px solid var(--color-white0);
  color: #EFEFEF;
}

#tools.deactivated .tool-label {
  filter: opacity(0.6);
  pointer-events: none;
}

#tools.deactivated #app-run-toggle {
  filter: opacity(1) !important;
  pointer-events: all !important;
}