* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
  /* pointer-events */
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  overflow: hidden;
  position: relative;
  /* min-width:100vw;min-height:100vh; */
}

svg {
  background: #404144;
}

#scene {
  fill: #5AB8CD3B;
}

.tile-selector {
  * {
    /* transition: 0.1s; */
    
  }
  
  rect {
    /* fill: #A8A8A880; */
  }
}

.tile-selector[data-is-dragging=true] {
  .selection-handle {
    opacity: 0.5;
  }
}

.tile-selector * {
  /* transition: 0.1s; */
}

.selection-box {
  fill: #78787800 !important;
  /* filter: opacity(0.25) !important; */
}

.selection-handle {
  transition: stroke-width 0.075s;
}


.selection-handle[data-is-dragging=true] {
  /* fill: orange; */
  stroke-width: 0.25;
  width: 0.1px;
  height: 0.1px;
}

.tile-selector[data-is-dragging=true] {
  .selection-handle {
    opacity: 0;
  }
}

.selection-handle[data-handle=start] {
  fill: orange;
}

.board-tile {}

.board-tile[data-selected=true] .tile-face {
  fill: #626262;
}

.tile {
  /* fill: #FFFFFF; */
  /* width: 1px; */
  /* height: 1px; */
  stroke: #2A2B2CD1;
  stroke-width: 0.025;
}

.tile[data-selected=false] {
  fill: #FFFFFF;
}



/* #scene[data-is-drawing=false] .tile[data-selected=true] {
  fill: #EDE690 !important;
} */


.selection {
  filter: invert(100%);
  fill: #000000;
  stroke: #CCDCDC8F;
  stroke-width: 0.05;
}

#scene[data-is-drawing=false] .selection {
  fill: #00000012 !important;
  
  stroke: #FF88F5;
  stroke-width: 0.1;
}


.tile-face {
  fill: #42445A;
  stroke: #FDFDFD;
  stroke-width: 0.05;
}

.tile-point {
  fill: #FFFEFA;
  stroke: #2A2B2C;
  stroke-width: 0.1;
  
}

.tile-port {
  fill: #FFFEFA0A;
  stroke: #C2C9D2;
  stroke: #2A2B2CD1;
  stroke-width: 0.05;
  /* filter: invert(100%); */
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  /* width: 100%; */
  /* height: 100%; */
  /* min-width:100vw;min-height:100vh; */
  background: #1a64a1;
  background: rgba(255, 255, 255, 1);
  color: #000;
  box-shadow: 0 0 0.01rem 0.01px #00000020;
  /* border: 0.5px solid rgba(17, 17, 17, 1); */
}

.panel-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #000;
  transform: scale(0.05);
  white-space: nowrap;
}


#stats-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  
  #stats-top-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    gap: 2px 4px;
    background: #D9D9D9;
  }
  
  #stats-bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    gap: 0px;
    gap: 4px;
    
    background: #FFFFFF;
  }
  
  .stat-output {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;
    
    gap: 8px;
    width: 100%;
    /* height: 100%; */
    
    background: #D9D9D9;
  }
}

.selection-handle[data-role=focus] {
  fill: #DB1414 !important;
}

.selection-handle[data-role=anchor] {
  fill: #FFFFFF !important;
  stroke: green;
}


.tile[data-focused=true] {
  fill: #D644C4 !important;
  /* stroke: #88F4FF; */
  stroke-width: 0.075;
  /* z-index: 500; */
}

.tile[data-selected=true] {
  fill: #E1E1E1 !important;
}