.tile-selector {
  * {
    /* transition: 0.1s; */
    
  }
  
  rect {
    /* fill: #A8A8A880; */
  }
}

/* .tile-selector[data-is-dragging=true] {
  .selection-handle {
    opacity: 0.5;
  }
} */

.tile-selector * {
  /* transition: 0.1s; */
}

.selection-box {
  fill: #FFFFFF36 !important;
  stroke: #38A658;
  stroke: green;
  filter: brightness(1.2) drop-shadow(0 0px 0.075px #0000007A);
}

/* .selection-handle {
  fill: #FFFFFF7A;
  transition: 0.075s;
} */


/* .selection-handle[data-is-dragging=true] {
  fill: green;
  stroke-width: 0.25;
  width: 0.1px;
  height: 0.1px;
} */

.tile-selector[data-is-dragging=true] {
  /* .selection-handle[data-role=anchor] {
    fill: #FFFFFF !important;
    fill: green !important;
    
    stroke: green;
  } */
  
  /* .selection-handle[data-role=focus] {
    fill: green !important;
    stroke: green;
  } */
  
  .selection-handle {
    opacity: 0;
    /* fill: green; */
    
  }
  
  .selection-box {
    stroke-width: 0.15px;
    filter: brightness(1.2) drop-shadow(0 0px 0.125px #000000AD);
    
  }
}

.selection-handle {
  fill: #FFFFFF !important;
  stroke: #FFFFFF00;
  filter: contrast(1) drop-shadow(0 0px 0.125px #000000AD);
  r: 0.25;
  transition: r 0.16s;
}

.selection-handle[data-role=focus] {
  fill: green !important;
  r: 0.35;
  filter: contrast(1.3) drop-shadow(0 0px 0.026px #000000AD);
  
}

.selection-handle[data-role=anchor] {
  fill: green !important;
  /* stroke: green; */
  r: 0.35;
  filter: contrast(1.3) drop-shadow(0 0px 0.026px #000000AD);
  
}

/* .board-tile[data-selected=true] .tile-face {
  fill: #626262;
} */

/* .tile {
  fill: #FFFFFF;
  width: 1px;
  height: 1px;
  stroke: #2A2B2CD1;
  stroke-width: 0.025;
} */

/* .tile[data-selected=false] {
  fill: #FFFFFF;
} */



/* #scene[data-is-drawing=false] .tile[data-selected=true] {
  fill: #EDE690 !important;
} */


/* .selection {
  filter: invert(100%);
  fill: #000000;
  stroke: #CCDCDC8F;
  stroke-width: 0.05;
} */

/* #scene[data-is-drawing=false] .selection {
  fill: #00000012 !important;
  
  stroke: #FF88F5;
  stroke-width: 0.1;
} */


/* .tile-face {
  fill: #42445A;
  stroke: #FDFDFD;
  stroke-width: 0.05;
} */

/* .tile-point {
  fill: #FFFEFA;
  stroke: #2A2B2C;
  stroke-width: 0.1;
  
} */

/* .tile-port {
  fill: #FFFEFA0A;
  stroke: #C2C9D2;
  stroke: #2A2B2CD1;
  stroke-width: 0.05;
  filter: invert(100%);
} */

/* .content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  min-width:100vw;min-height:100vh;
  background: #1a64a1;
  background: rgba(255, 255, 255, 1);
  color: #000;
  box-shadow: 0 0 0.01rem 0.01px #00000020;
  border: 0.5px solid rgba(17, 17, 17, 1);
} */

.panel-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #000;
  transform: scale(0.05);
  white-space: nowrap;
}


#stats-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  
  #stats-top-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    gap: 2px 4px;
    background: #D9D9D9;
  }
  
  #stats-bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    gap: 0px;
    gap: 4px;
    
    background: #FFFFFF;
  }
  
  .stat-output {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;
    
    gap: 8px;
    width: 100%;
    /* height: 100%; */
    
    background: #D9D9D9;
  }
}

/* .tile[data-focused=true] {
  fill: #D644C4 !important;
  stroke: #88F4FF;
  stroke-width: 0.075;
  z-index: 500;
} */