.tile-selector {
  * {
    /* transition: 0.1s; */

  }

  rect {
    /* fill: #A8A8A880; */
  }
}

.selection-box {
  fill: #FFFFFF36 !important;
  stroke: #38A658;
  stroke: green;
  filter: brightness(1.2) drop-shadow(0 0px 0.075px #0000007A);
  /* pointer-events: none; */

}

.tile-selector[data-is-dragging=true] {

  .selection-handle {
    opacity: 0;
  }

  .selection-box {
    stroke-width: 0.15px;
    filter: brightness(1.2) drop-shadow(0 0px 0.125px #000000AD);
  }
}

.selection-handle {
  fill: #FFFFFF !important;
  stroke: #FFFFFF00;
  filter: contrast(1) drop-shadow(0 0px 0.125px #000000AD);
  r: 0.25;
  transition: r 0.16s;
}

.selection-handle[data-role=focus] {
  fill: green !important;
  r: 0.35;
  filter: contrast(1.3) drop-shadow(0 0px 0.026px #000000AD);

}

.selection-handle[data-role=anchor] {
  fill: green !important;
  r: 0.35;
  filter: contrast(1.3) drop-shadow(0 0px 0.026px #000000AD);

}

.panel-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #000;
  transform: scale(0.05);
  white-space: nowrap;
}


#stats-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  #stats-top-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 2px 4px;
    background: #D9D9D9;
  }

  #stats-bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    gap: 0px;
    gap: 4px;

    background: #FFFFFF;
  }

  .stat-output {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;

    gap: 8px;
    width: 100%;

    background: #D9D9D9;
  }
}